.navbar-left {
  display: flex;
  align-items: center;

  .icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    .logo {
      height: 40px;
      margin-right: 5px;
    }

    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  .left-menu-items {
    display: flex;
    gap: 15px;
    margin-left: 20px;
    button {
      background-color: transparent;
      color: black;
      border: 0;
    }
  }
}

.navbar-right {
  display: flex;
  align-items: center;

  .search-input {
    margin-right: 10px;
  }
}
