<p-menubar>
  <ng-template pTemplate="start">
    <div class="navbar-left">
      <div class="icon" routerLink="/">
        <img src="../../assets/logo.png" alt="logo" class="logo" />
        <span class="title">POC</span>
      </div>
      <div class="left-menu-items">
        <button
          pButton
          type="button"
          label="AG-Grid"
          routerLink="/ag-grid"
        ></button>
        <button
          pButton
          type="button"
          label="Dynamic Form"
          routerLink="/form"
        ></button>
        <button
          pButton
          type="button"
          label="P-table"
          routerLink="/p-table"
        ></button>
        <button
          pButton
          type="button"
          label="Dynamic p-table"
          routerLink="/dynamic-p-table"
        ></button>
        <button
          pButton
          type="button"
          label="Reactive Iterative Form"
          routerLink="/reactive-iterative-form"
        ></button>
        <button
          pButton
          type="button"
          label="Drilldown Pie Chart"
          routerLink="/apex-drilldown-chart"
        ></button>
        <button
          pButton
          type="button"
          label="Pie-Bar Chart"
          routerLink="/apex-pie-bar-chart"
        ></button>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="navbar-right">
      <input type="text" pInputText placeholder="Search" class="search-input" />
      <button
        pButton
        type="button"
        label="Add"
        icon="pi pi-plus"
        class="p-button-info"
      ></button>
    </div>
  </ng-template>
</p-menubar>
