<div class="card">
  <ng-container *ngFor="let col of columns; let i = index">
    <p-toggleButton
      *ngIf="col.freezable"
      [ngModel]="col.frozen"
      [onIcon]="'pi pi-lock'"
      offIcon="pi pi-lock-open"
      [onLabel]="col.header"
      offLabel="{{ col.header }}"
      (onChange)="toggleFrozenStates(i)"
    ></p-toggleButton>
  </ng-container>

  <p-table
    [columns]="columns"
    [value]="records"
    [scrollable]="true"
    scrollHeight="400px"
    styleClass="mt-3"
  >
    <ng-template pTemplate="header">
      <tr>
        <th
          *ngFor="let col of columns"
          [ngStyle]="{
            'text-align': col.textAlign,
            'min-width': '200px',
            width: col.width ? col.width + 'px' : 'auto'
          }"
          alignFrozen="right"
          pFrozenColumn
          [frozen]="col.frozen"
        >
          {{ col.header }}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td
          *ngFor="let col of columns"
          alignFrozen="right"
          pFrozenColumn
          [frozen]="col.frozen"
          [ngStyle]="{ 'text-align': col.textAlign }"
        >
          <ng-container
            *ngIf="col.field !== 'balance' && col.field !== 'country'"
          >
            {{ rowData[col.field] }}
          </ng-container>
          <ng-container *ngIf="col.field === 'balance'">
            {{ formatCurrency(rowData[col.field]) }}
          </ng-container>
          <ng-container *ngIf="col.field === 'country'">
            {{ rowData[col.field]?.name }}
          </ng-container>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns.length">No records found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
